#tabs-modern .nav-tabs {
    background: #fff;
    border: 1px solid #e1e1e1;
    display: -webkit-inline-box;
}
#tabs-modern .nav-link {
    position: relative;
    display: block;
    padding: 15px;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #9b9b9b;
    text-transform: uppercase;
    transition: all .3s;
}
#tabs-modern .nav-link:hover, #tabs-modern .nav-link.active {
    color: #fff;
    background: #35ad79;
}
#tabs-modern .nav-link::before {
    position: absolute;
    bottom: 2px;
    left: 50%;
    display: block;
    width: 7px;
    height: 7px;
    background: #35ad79;
    content: '';
    opacity: 0;
    transform: rotate(45deg) translateX(-50%);
    transition: all .3s;
    pointer-events: none;
}