.page-header {
    padding-bottom: 0px;
    margin: 0px 0 1px;
    border-bottom: 1px solid #eee;
}
h5 {
    font-size: 18px;
}
.badge {
    background-color: transparent ;
    color: transparent ;
}
.dataTables_processing{
    background: #35AD76;
    color: aliceblue;
}
.dataTables_processing tr:active{
    cursor: pointer;
    background-color:rgba(90, 90, 90, 0.2);
}
.badge-secondary {
    font-weight: 500;
    color: #151515;
    background-color: #fcef57 !important ;
}

.badge-primary {
    background-color: #35ad79 !important;
}
.badge-red {
    background-color: #fd6565 !important;
}