.page-header {
    padding-bottom: 0px;
    margin: 0px 0 1px;
    border-bottom: 1px solid #eee;
}
h5 {
    font-size: 18px;
}
.badge {
    background-color: transparent ;
    color: transparent ;
}
#events-table thead{
    background: #35AD76;
    color: aliceblue;
}
#events-table tbody tr:hover {
    cursor: pointer;
    background-color: rgba(90, 90, 90, 0.2);
}
.badge-secondary {
    font-weight: 500;
    color: #151515;
    background-color: #fcef57 !important ;
}

.badge-primary {
    font-weight: 500;
    color: #fff;
    background-color: #35ad79 !important;
}
.badge-red {
    font-weight: 500;
    color: #fff;
    background-color: #fd6565 !important;
}
.btn-primary{
	color: #fff;
	background: #35ad79;
	border-color: #35ad79;
}
.btn-primary{
	color: #fff;
	background: #425c7f;
	border-color: #425c7f;
}
.btn-red{
	color: #fff;
	background: #fd6565;
	border-color: #fd6565;
}
#tabs-modern{
    margin: 0 auto;
}
#tabs-modern .nav-link {
    padding: 10px;
}
body{
    background: #edeff4 !important;
}
@media (max-width: 991.98px) {
    section.section-sm:first-of-type, section.section-md:first-of-type, section.section-lg:first-of-type, section.section-xl:first-of-type, section.section-xxl:first-of-type {
        padding-top: 90px;
    }
}